body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  font-size: 40px;
  color: blueviolet;
  font: outline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  background-color: aqua;
}
div {
  font: outline;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
}
input {
  size: 12px;
  color: blueviolet;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blanchedalmond;
  font-style: oblique;
}
button {
  size: 1in;
  color: blueviolet;
  place-items: "Flip";
}
